@media(max-width:320px){}
@media(max-width:480px){}
@media(min-width:768px){}
@media(min-width:992px){
  .container-body {
    width: 900px;
  }
}

@media(min-width:1200px){
  .container-body {
    width: 900px;
  }
}

a {
  color: #F5F5F5;
}

.navbar-brand {
  text-shadow: none;
  color: #F5F5F5;
}

.navbar-brand:hover {
  text-shadow: none;
  color: #BEED93;
}

.nav>li>a {
  text-shadow: none;
  padding: 15px;
}

.nav>li>a:hover,
.nav>li>a:focus {
  background-color: transparent;
  text-shadow: none;
  color: #BEED93;
}

.navbar {
  background-color:  #333;
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 0px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.navbar .navbar-toggle .icon-bar {
  background-color: #FFF;
}

.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
  margin: 0 0 0 0;
}

.navbar-nav.navbar-right:last-child {
  margin: 0 -15px 0 0;
}

.navbar-right {
float: right!important;
}

body {
  background-color: #333;
}

.body-image {
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: auto;
  height: 400px;
  margin: 50px 0 0 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  z-index: -1;
}

video {
position: fixed;
width: auto;
height: auto;
background: url(../img/background.jpg) no-repeat;
background-size: cover;
}

.body-title {
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  min-height: 10em;
  width: 90%;
  text-align: center;
}

.body-title h1 {
  margin: -20px 0 0 0;
}

.logo {
  font-size: 120px;
}

.body-text {
  position: relative;
  background-color: #F5F5F5;
  width: auto;
  height: auto;
  min-height: 500px;
  margin: 25px 0 0 0;
  padding: 70px 90px 70px 100px;
  /* padding: 10% 20% 10% 20%; */
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.col-md-2 {
  text-align: center;
  margin: 0 10px 0 0;
}

.body-text h2 {
    margin: 15px 0 10px 0;
}

.body-text h3 {
    margin: 0 0 0 0;
}

.body-text p {
  font-size: 16px;
  font-family: Georgia,serif;
  color: #606573;
  line-height: 150%;
  margin: 20px 0 0 0;
}

.entry-one {
  margin: 350px 0 0 0;
}

.entry-last {
  margin: 25px 0 25px 0;
}
