@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){
  .container-body {
    width: 900px;
  }
}

a {
  color: #F5F5F5;
}

.navbar-brand {
  text-shadow: none;
}
.navbar-brand {
  color: #F5F5F5;
}

.navbar-brand:hover {
  text-shadow: none;
  color: #BEED93;
}

.nav>li>a {
  text-shadow: none;
}

.nav>li>a:hover,
.nav>li>a:focus {
  background-color: transparent;
  text-shadow: none;
  color: #BEED93;
}

.navbar {
  background-color:  #333;
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 0px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.navbar .navbar-toggle .icon-bar {
  background-color: #FFF;
}

body {
  background-color: #333;
}

.body-image {
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: auto;
  height: 400px;
  margin: 50px 0 0 0;
  background-image: url(../img/test.jpg);
  box-shadow: 0 1px 3px rgba(255,255,255,0.12), 0 1px 2px rgba(255,255,255,0.24);
}

.body-title {
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  min-height: 10em;
  width: 90%;
  text-align: center;
}

.body-title h1 {
  margin: -20px 0 0 0;
}

.logo {
  font-size: 120px;
}

.body-text {
  position: relative;
  background-color: #F5F5F5;
  width: auto;
  height: 500px;
  margin: 25px 0 0 0;
  padding: 50px 100px 25px 100px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.body-text h3 {
    margin: 0 0 0 0;
}

.entry-one {
  margin: 350px 0 0 0;
}
